<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>This is our Home Page!</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Example Text</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Example Description"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>

{{!-- our coffee based handlebars --}}
<h1>Welcome to Cup of Joe</h1>
<ul>
    {{#each Coffee}}
    <li>
        <p>{{this.name}}</p>
        <p>{{this.CoffeeType}}</p>
        <p>{{this.roast}}</p>
        <button data-coffeeid="{{this.id}}" class="delCoffee">Delete Coffee Order</button>
    </li>
    {{/each}}
</ul>

<h2>Get all Coffee</h2>
<form id="allCoffee" class="button-size">
  <textarea type="text" name="name"></textarea>
    <textarea type='text' name="CoffeeType"></textarea>
    <textarea type="text" name="roast"></textarea>
    <button type="submit">All our Coffee</button>  
</form>

<h2>Create a new Coffee Order</h2>
<form id="createCoffee" class="button-size">
    <textarea type="text" name="name"></textarea>
    <textarea type='text' name="CoffeeType"></textarea>
    <textarea type="text" name="roast"></textarea>
    <button type="submit">New Coffee</button>
</form>

<h2>Update Coffee Order</h2>
<form id="updateCoffee" class="button-size">
    <input type="text" name="id" placeholder="id">
    <textarea type='text' name="coffee" placeholder="update your coffee order"></textarea>
    <button type="submit">Update Coffee</button>
</form>

<script type="text/javascript">
$('#createCoffee').on('submit',function(event){
    event.preventDefault();
    var newCoffee = {
        name: $('#createCoffee [name=name]').val().trim(),
        CoffeeType: $('#createCoffee [name=CoffeeType]').val().trim(),
        roast: $('createCoffee [name=roast]').val().trim()
    };
    $.ajax('/api/coffee',{
        type:'POST',
        data:newCoffee
    }).then(function(){
        console.log('new coffee order added')
        location.reload();
    })
})

$('#updateCoffee').on('submit',function(event){
    event.preventDefault();
    var id = $('[name=id]').val().trim();
    var updateCoffee = {
        name: $('#createCoffee [name=name]').val().trim(),
        CoffeeType: $('#createCoffee [name=CoffeeType]').val().trim(),
        roast: $('createCoffee [name=roast]').val().trim()
    };
    $.ajax('/api/coffee' + id,{
        type:"PUT",
        data:updateCoffee
    }).then(function(){
        console.log('coffee order updated', id)
        location.reload();
    })
})

$('.delCoffee').on('click',function(event){
    var id = $(this).data('coffeeid');
    $.ajax('/api/coffee/:id' + id,{
        type:'DELETE'
    }).then(function(){
        console.log('coffee deleted !!', id)
        location.reload();
    })
})






</script>

